In [1]:
import geopandas as gpd
import pandas as pd
import rtree
from shapely.geometry import Point
data=pd.read_csv('/Volumes/Samsung USB/taxidata/2012/yellow_tripdata_2012-07.csv')

In [2]:
#Load Map Shape File
zones = gpd.read_file('/Volumes/Samsung USB/taxidata/shapefiles/taxi_zones.shp').to_crs({'init' :'epsg:4326'})
zones['zone'] = zones.zone.astype('category')
zones['borough'] = zones.borough.astype('category')
zones.head()

,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough,geometry
0,1,0.116357,0.000782,Newark Airport,1,EWR,"POLYGON ((-74.18445299999996 40.6949959999999,..."
1,2,0.433470,0.004866,Jamaica Bay,2,Queens,(POLYGON ((-73.82337597260663 40.6389870471767...
2,3,0.084341,0.000314,Allerton/Pelham Gardens,3,Bronx,POLYGON ((-73.84792614099985 40.87134223399993...
3,4,0.043567,0.000112,Alphabet City,4,Manhattan,POLYGON ((-73.97177410965318 40.72582128133706...
4,5,0.092146,0.000498,Arden Heights,5,Staten Island,"POLYGON ((-74.17421738099989 40.5625680859999,..."

In [3]:
#Map Zones to Data
subset=data[['pickup_longitude','pickup_latitude']][:20] #Test a small sample
geometry = [Point(xy) for xy in zip(subset.pickup_longitude, subset.pickup_latitude)]
gf = subset.set_geometry(geometry, crs={'init' :'epsg:4326'})

gf2 = gpd.sjoin(gf, zones, how="inner")

In [4]:
gf2

,pickup_longitude,pickup_latitude,geometry,index_right,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough
0,-73.966130,40.761309,POINT (-73.96613000000001 40.761309),228,229,0.042525,0.000095,Sutton Place/Turtle Bay North,229,Manhattan
1,-73.866037,40.834670,POINT (-73.86603700000001 40.83467),247,248,0.056919,0.000150,West Farms/Bronx River,248,Bronx
2,-73.981165,40.767080,POINT (-73.981165 40.76708),162,163,0.034177,0.000041,Midtown North,163,Manhattan
3,-73.950839,40.785787,POINT (-73.950839 40.785787),235,236,0.044252,0.000103,Upper East Side North,236,Manhattan
4,-73.991608,40.764888,POINT (-73.991608 40.764888),47,48,0.043747,0.000094,Clinton East,48,Manhattan
11,-73.990414,40.760818,POINT (-73.990414 40.760818),47,48,0.043747,0.000094,Clinton East,48,Manhattan
5,-73.969915,40.797525,POINT (-73.969915 40.797525),150,151,0.054890,0.000129,Manhattan Valley,151,Manhattan
6,-74.003912,40.742082,POINT (-74.003912 40.742082),67,68,0.049337,0.000111,East Chelsea,68,Manhattan
8,-73.997570,40.720637,POINT (-73.99756999999998 40.720637),143,144,0.027620,0.000047,Little Italy/NoLiTa,144,Manhattan
17,-73.998176,40.717841,POINT (-73.998176 40.717841),143,144,0.027620,0.000047,Little Italy/NoLiTa,144,Manhattan
9,-73.996542,40.760025,POINT (-73.99654200000001 40.760025),245,246,0.069467,0.000281,West Chelsea/Hudson Yards,246,Manhattan
10,-73.950293,40.776340,POINT (-73.950293 40.77634),262,263,0.037017,0.000066,Yorkville West,263,Manhattan
12,-73.979617,40.755797,POINT (-73.979617 40.755797),160,161,0.035804,0.000072,Midtown Center,161,Manhattan
13,-73.985247,40.727782,POINT (-73.985247 40.727782),78,79,0.042625,0.000108,East Village,79,Manhattan
14,-73.979477,40.767065,POINT (-73.979477 40.767065),42,43,0.099739,0.000380,Central Park,43,Manhattan
15,-73.972642,40.743485,POINT (-73.97264199999998 40.743485),232,233,0.048036,0.000116,UN/Turtle Bay South,233,Manhattan
16,-73.980815,40.675810,POINT (-73.98081500000001 40.67581),180,181,0.089537,0.000307,Park Slope,181,Brooklyn
18,-73.988053,40.740771,POINT (-73.98805299999998 40.740771),233,234,0.036072,0.000073,Union Sq,234,Manhattan
19,-73.931607,40.765192,POINT (-73.931607 40.765192),6,7,0.107417,0.000390,Astoria,7,Queens